body {
    background-color: rgb(45, 45, 45);
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    transform-style: preserve-3d;
    transform: perspective(3000px);
}

.list .item {
    transition: .25s;
    filter: blur(7px);
    overflow: hidden;
}

.list .item:hover {
    transform: translateZ(100px);
    filter: blur(0px);
    overflow: hidden;
}

.list img {
    width: 180px;
    height: auto;
    border-radius: 6px;
}